@import "tailwindcss";

@media (prefers-color-scheme: dark) {
    :root {
        color-scheme: dark;
    }
}

.pixelated {
    image-rendering: pixelated;
}

@font-face {
    font-family: "Mona";
    src: url("Mona.ttf");
}

.font-mona {
    font-family: "Mona";
}
