<!doctype html>
<html lang="en">
    <head>
        <meta name="description" content="Webpage description goes here" />
        <meta charset="utf-8" />
        <title>Pixelators</title>
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta name="author" content="" />
        <link rel="stylesheet" href="app.css" />
    </head>

    <body
        class="bg-[#ffffff] dark:bg-[#1b1b1f] text-[#3c3c43] dark:text-[#fffff5]/85"
    >
        <div class="px-8">
            <div
                class="flex justify-between max-w-[1376px] mx-auto h-16 items-center"
            >
                <a
                    class="flex space-x-6 hover:text-[#e12f35] transition-all group items-center"
                    href="/"
                >
                    <div class="relative">
                        <div
                            class="absolute inset-0 bg-gradient-to-br from-[#e12f35] to-[#9e9f9f] blur-[6px] group-hover:blur-[8px] rounded-full duration-300"
                        ></div>
                        <img class="pixelated relative" src="logo.png" />
                    </div>
                    <div class="leading-[64px] font-medium">Pixelators</div>
                </a>
                <div class="flex text-sm max-sm:hidden">
                    <a
                        class="hover:text-[#e12f35] transition-all px-3 flex items-center"
                        href="/home"
                        >Home</a
                    >
                    <a
                        class="hover:text-[#e12f35] transition-all px-3 leading-[64px]"
                        href="/home"
                        >About</a
                    >
                    <a
                        class="hover:text-[#e12f35] transition-all px-3 leading-[64px]"
                        href="/home"
                        >Seasons</a
                    >
                    <a
                        class="hover:text-[#e12f35] transition-all px-3 leading-[64px]"
                        href="/home"
                        >Members</a
                    >
                    <a
                        class="hover:text-[#e12f35] transition-all px-3 leading-[64px]"
                        href="/home"
                        >Blog</a
                    >
                    <a
                        class="hover:text-[#e12f35] transition-all px-3 leading-[64px]"
                        href="/home"
                        >Sponsors</a
                    >
                </div>
                <div class="hidden max-sm:inline">
                    <svg
                        xmlns="http://www.w3.org/2000/svg"
                        fill="none"
                        viewBox="0 0 24 24"
                        stroke-width="1.5"
                        stroke="currentColor"
                        class="size-6"
                    >
                        <path
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            d="M3.75 6.75h16.5M3.75 12h16.5M12 17.25h8.25"
                        />
                    </svg>
                </div>
            </div>
        </div>
    </body>
</html>
