<div class="flex justify-between max-w-[1440px] mx-auto h-16 items-center px-8">
    <a class="flex items-center" href="/">
        <div class="px-3">
            <div class="relative">
                <div
                    class="absolute inset-0 m-1 bg-gradient-to-br from-[#9e9f9f] to-[#e12f35] blur-[6px] rounded-full transition-all"
                ></div>
                <img class="pixelated relative" src="logo.png" />
            </div>
        </div>
        <div
            class="leading-[64px] font-medium hover:text-[#e12f35] transition-all px-3"
        >
            Pixelators
        </div>
    </a>
    <div class="flex text-sm max-sm:hidden">
        <a
            class="hover:text-[#e12f35] transition-all px-3 flex items-center"
            href="/home"
            >Home</a
        >
        <a
            class="hover:text-[#e12f35] transition-all px-3 leading-[64px]"
            href="/home"
            >About</a
        >
        <a
            class="hover:text-[#e12f35] transition-all px-3 leading-[64px]"
            href="/home"
            >Seasons</a
        >
        <a
            class="hover:text-[#e12f35] transition-all px-3 leading-[64px]"
            href="/home"
            >Members</a
        >
        <a
            class="hover:text-[#e12f35] transition-all px-3 leading-[64px]"
            href="/home"
            >Blog</a
        >
        <a
            class="hover:text-[#e12f35] transition-all px-3 leading-[64px]"
            href="/home"
            >Sponsors</a
        >
    </div>
    <div class="hidden max-sm:inline">
        <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="size-6"
        >
            <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M3.75 6.75h16.5M3.75 12h16.5M12 17.25h8.25"
            />
        </svg>
    </div>
</div>
